@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Karla:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  height: 750px;
  background: #f5f5f5;
  padding: 2rem;
  width: 55%;
  margin: 2rem auto;
  border-radius: 10px;
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  text-transform: capitalize;
}

button {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: #fff;
}

input {
  display: block;
}

label {
  text-transform: capitalize;
}

main > section {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(3, 2.5rem);
  gap: 1rem;
  align-items: stretch;
  margin: 1.5rem 0;
}
.general-section,
.education-section,
.experience-section {
  grid-row: 1 / -1;
  display: grid;
  grid-template-rows: repeat(3, 2.5rem);
  grid-row-gap: 0.25rem;
  grid-auto-rows: 2.5rem;
}
